body{
    background-color: black;
}
div{
    width: 50%;
    margin-left: 25%;
}
h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
}
p{
    color: white;
    text-align: center;
}
    img{
    border: 5px solid white;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}